$main-text-color: black;
$main-bg-color: white;

$main-title-font: 'Lust Script Regular', 'arial', 'helvetica', sans-serif;
$secondary-font: 'Forma DJR Banner Light Italic', 'arial', 'helvetica', sans-serif;

$main-title-fontSize: 45.55px;
$secondary-fontSize: 35px;